.order-container {
  flex: 0 0 28%;
  height: fit-content;
  padding: 16px;
}

.border {
  border-radius: 10px;
  border: 2px solid gainsboro;
}

.hr {
  min-width: 0px;
  margin: 20px 0px;
  border-bottom: 1px solid gainsboro;
}

.order-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-btn {
  background-color: #2dabf9;
  border-radius: 8px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  width: 100%;
  outline: none;
}
.submit-btn:hover {
  background-color: #58b8f3;
}
.submit-btn:active {
  position: relative;
  top: 1px;
}
